.statistics {
  background-color: aqua;
}
.title {
  background-color: aqua;
}
.statList {
  background-color: aqua;
}
.item {
  background-color: aqua;
}
.label {
  background-color: aqua;
}
.percentage {
  background-color: aqua;
}
