.transactionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 80px;
  background-color: rgb(199, 220, 220);
}
.transactionHistory {
  width: 450px;
  background-color: rgb(247, 244, 244);
}
.thead {
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(247, 244, 244);
  background-color: rgb(68, 190, 218);
}
