.item {
  width: 450px;
  height: 130px;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: rgb(247, 244, 244);
  border-radius: 8px;
  margin-bottom: 15px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.online {
  background-color: rgb(92, 185, 92);
}

.offline {
  background-color: rgb(240, 79, 79);
}

.avatar {
  width: 100px;
  height: 100px;
}

.name {
  font-size: 30px;
  font-weight: 500;
  color: rgb(36, 34, 34);
}
